/* comuneto css */

{
    margin:0px;
    padding:0px;
}

.uma-div{
    position: relative;
    width: 1300px;
    height: 500px;
    margin:0 auto;
    background-image: image(C:\Users\patri\OneDrive\Imagens\Camera Roll\pika)
}
